.IPTracker-container {
  background: url("../../pattern-bg.png");
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
.IPTracker-header {
  color: white;
  margin-bottom: 2rem;
}
.IPTracker-input-container {
  display: flex;
  margin-bottom: 3rem;
}
.IPTracker-input {
  font-size: 18px;
  width: 450px;
  padding-left: 1rem;
}
#IPTracker-button {
  background: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 0% 10% 10% 0%;
  cursor: pointer;
}
