.IPTracker-container {
  background: rgb(191, 218, 164);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
div.IDTracker-input-container {
  display: flex;
  width: 100%;
  margin-bottom: 3rem;
}
#IPTracker-input {
  font-size: 18px;
  width: 100%;
  padding-left: 1rem;
}
#IPTracker-button {
  background: black;
  color: white;
  padding: 13px;
  border: none;
  border-radius: 0% 10% 10% 0%;
  cursor: pointer;
}
